h1{
    text-align: center;
    padding-top: 2%;
}

body {
    height: 100%;
    background-color: #f2f2f2;
}
  
.event:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.02);
    transition: all 0.2s ease;
}
  
.hidden {
    visibility: hidden;
    height: 0;
}
  
#calendar {
    height: 100vh !important;
}

.custom-container {
    width: 100%;
    padding: 20%;
}